<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">
      <i class="fa-solid fa-wand-magic-sparkles"></i>
      <span>File Converter</span>
    </a>
    <a href="/" class="nav-link">Home</a>
  </div>
</nav>
